@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --primary: rgb(236 72 153);
    --primary-foreground: rgb(255 255 255);
    --background: rgb(241, 227, 237);
    --foreground: rgb(236 72 153);
    --card: rgb(255 255 255);
    --card-foreground: rgb(236 72 153);
    --radius: 0.5rem;
    --chart-1: rgb(236 72 153);
    --chart-2: rgb(238, 66, 198);
    --chart-3: rgb(246, 127, 202);
    --chart-4: rgb(243, 144, 218);
    --chart-5: rgb(246, 169, 229);
  }

  [data-theme="dark"] {
    --primary: rgb(168 85 247);
    --primary-foreground: rgb(249, 231, 255);
    --background: rgb(17 24 39);
    --foreground: rgb(157, 94, 216);
    --card: rgb(31 41 55);
    --card-foreground: rgb(243 244 246);
    --radius: 0.5rem;
    --chart-1: rgb(168 85 247);
    --chart-2: rgb(203, 72, 236);
    --chart-3: rgb(184, 45, 212);
    --chart-4: rgb(183, 36, 251);
    --chart-5: rgb(229, 125, 252);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
